@charset "UTF-8";

html, body {
	height: 100%;
	min-height: 100%;
	padding-bottom: 100px;
	margin-bottom: -100px;
}

.container {
	display: block;
	max-width: 800px;
	width: 100%;
	margin: 120px auto;
	margin-bottom: -500px;
}

.container>h1 {
	color: black;
	font-size: 48px;
	letter-spacing: -3px;
	text-align: center;
	margin: 120px 0 80px 0;
}

.info {
	margin-top: 40px;
	background-color: whitesmoke;
	padding: 30px;
	margin-bottom: 50px;
	border: whitesmoke solid 1px;
	border-radius: 5px;
	font-size: 13px;
	background-color: whitesmoke;
	padding: 30px;
	margin-bottom: 50px;
	border: whitesmoke solid 1px;
	border-radius: 5px;
	font-size: 13px;
	font-weight: bold;
}

.contract-text {
	height: 230px;
	border: 1px solid black;
	background-color: white;
	white-space: pre-line;
	overflow-y: scroll;
	margin: 0 auto 20px;
}

caption {
	text-align: left;
	font-size: 0.8em;
	margin: 10px;
	margin-top: 50px;
}

div.insert {
	height: 100%
}

table {
	height: 500px;
	width: 800px;
	border-top: 3px solid black;
	margin-right: auto;
	margin-left: auto;
}

td {
	border-bottom: 1px dotted black;
}

.col1 {
	background-color: #e8e8e8;
	padding: 10px;
	text-align: right;
	font-weight: bold;
	font-size: 0.8em;
}

.col2 {
	text-align: left;
	padding: 5px;
}

.id_but {
	color: white;
	background-color: black;
	border-color: black;
	width: 70px;
	height: 22px;
	cursor: pointer;
}

.id_but:hover {
	background-color: #b9b9b9;
	color: black;
	border: 2px solid black;
}

.num {
	font-size: 0.8em;
	color: red;
}

.addr1 {
	width: 300px;
	margin-right: 5px;
}

.addr2 {
	width: 300px;
	margin-top: 3px;
}

#addr_but {
	color: white;
	background-color: black;
	border-color: black;
	width: 70px;
	height: 25px;
	cursor: pointer;
}

#addr_but:hover {
	background-color: #b9b9b9;
	color: black;
	border: 2px solid black;
}

div.create {
	width: 800px;
	text-align: center;
	padding-top: 50px;
	margin: auto;
}

.join_but {
	height: 50px;
	width: 180px;
	background-color: black;
	color: white;
	border: 1px solid black;
	margin-right: 5px;
	cursor: pointer;
}

.join_but:hover {
	background-color: white;
	color: black;
	border: 1px solid black;
}

.home_but {
	height: 50px;
	width: 180px;
	background-color: black;
	color: white;
	border: 1px solid black;
	margin-left: 5px;
	cursor: pointer;
}

.home_but:hover {
	background-color: white;
	color: black;
	border: 1px solid black;
}