@charset "UTF-8";

.title {
	text-align: center;
	margin: 50px;
}

.go_search {
	margin-left: 100px;
	width: 85%;
	font-weight: bold;
	margin-bottom: 10px;
}

.search_but {
	width: 50px;
	height: 23px;
}

table#orderList {
	border-collapse: collapse; /* border 사이의 간격 없앰 */
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
	width: 85%; /* 전체 테이블 길이 설정 */
	margin-left: 100px;
	margin-bottom: 20px;
}

table#orderList th {
	background-color: #E4E4E4;
}

table#orderList th, td {
	padding: 8px 5px;
	text-align: center;
}