@charset "UTF-8";

.title {
	text-align: center;
	margin: 50px;
}

.go_search {
	margin-left: 5%;
	width: 90%;
	font-weight: bold;
	margin-bottom: 10px;
}

.search_but {
	width: 50px;
	height: 23px;
}

.total_but {
	width: 70px;
	height: 23px;
}

.insert_but {
	width: 70px;
	height: 23px;
}

table#productList {
	border-collapse: collapse; /* border 사이의 간격 없앰 */
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
	width: 90%;
	margin: 0 auto;
}

table#productList th {
	background-color: #E4E4E4;
}

table#productList th, td {
	padding: 8px 5px;
}

table#productList td {
	text-align: center;
	border-bottom: 1px dotted black;
}

.pname {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.page a {
	text-decoration: none;
	color: black;
}